<%= form_tag("/search", method: "get") do %>
  <%= text_field_tag(:q, '', placeholder: 'Track Name', autofocus: true) %>
  <%= submit_tag("Search") %>
<% end %>

	<ul class="results-list"></ul>

<script>
	var trackPlaying;

	function updateUserPlaylists(userId) {
		var url = window.location.origin + "/users/" + userId + "/playlists.json";
		$.ajax({
			type: "GET",
			url: url,
			dataType: "json",
			success: function(playlists){
				renderSearchResults(playlists);
			},
			error: function(){
				alert('BROKEN!');
			}
		});
	}

	$('form').on('submit', function(event){
		event.preventDefault();
		<% if user_signed_in? %>
			updateUserPlaylists(<%current_user.id%>);
		<% else %>
			renderSearchResults(null);
		<% end %>
	});

	function renderSearchResults(playlists){

		$('.results-list').empty();

		var searchInput = $("#q");
		var query = searchInput.val();
		// searchInput.val("");
		
		SC.get('/tracks', { q: query }, function(tracks) {
			var skippedIndex = 0;
		  _.each(tracks, function(track, i){
		  	// console.log(track["streamable"]);
		  	
		  	if (track["policy"] != "ALLOW" || track["streamable"] == false) {
		  		return false;
		  	} else {
		  		skippedIndex += 1;
		  	}
		  	// console.log(track);

		  	var id = track["id"]
		  	var title = track["title"];
		  	var artwork_url = track["artwork_url"];
		  	var user = track["user"];

		  	var artwork = $('<img>').attr('src', artwork_url);

		  	var result = $('<li></li>').attr('id', 'result-' + (skippedIndex));
		  	var trackContainer = $('<div></div>').attr('id', id).addClass('trackContainer').appendTo(result);

		  	trackContainer.append($(artwork));
		  	trackInfo = $('<div></div>').addClass('track-info').appendTo(trackContainer);
		  	trackInfo.append($('<p></p>').html(title));
		  	trackInfo.append($('<p></p>').html(user["username"]).attr('id', user["id"]));
		  	trackInfo.append($('<button type="button">Play</button>').addClass('play paused'));

		  	<% if user_signed_in? %>
			  	var playlistDropdown = $('<select></select>').addClass('selectPlaylist').appendTo(trackInfo);
			  	playlistDropdown.append($('<option selected disabled></option>').html('Select playlist'));
			  	_.each(playlists, function(playlist){
			  		playlistDropdown.append($('<option></option>').attr('id', playlist.id).html(playlist.title));
			  	});
			  	trackInfo.append($('<button type="button">Add to playlist</button>').addClass('addToPlaylist'));
			  <% end %>

		  	$('.results-list').append(result);
		  }); // <- _.each

			$('.addToPlaylist').on('click', function(){
				var trackContainer = $(this).closest('.trackContainer');
				var selectedPlaylist = $('.selectPlaylist option:selected', trackContainer);
				
				var trackId = trackContainer.attr('id');
				var playlistId = selectedPlaylist.attr('id');

				var track = _.find(tracks, function(track){
					return track.id == trackId;
				});

				track.sc_track_id = track['id'];
				track.sc_user_id = track['user_id'];
				track.playlist_id = playlistId;
				track.username = track['user']['username'];

				delete track['id'];
				delete track['user_id'];

				$.ajax({
					type: 'POST',
					url: '<%=playlist_add_track_path%>',
					data: {track: track},
					dataType: 'json',
					success: function(response) {

					},
					error: function(){

					}
				})

			});

		  $('.play').on('click', function(){
		  	var playButton = $(this);

		  	if (playButton.hasClass('playing')) {
		  		$('.playing').removeClass('playing').addClass('paused').html('Play');
		  		trackPlaying.pause();
		  		return false;
		  	}

		  	$('.playing').removeClass('playing').addClass('paused').html('Play');

		  	var trackContainer = $(this).closest('.trackContainer');
		  	var id = trackContainer.attr('id');
		  	
		  	SC.stream("/tracks/" + id, function(sound){
		  		if (typeof trackPlaying != 'undefined') { trackPlaying.pause() };

  				sound.play({
	  		    onload: function() {
	  		      if (this.readyState == 2) {
								alert("unable to stream this track :(");
	  		      } else {
	  		      	console.log("streaming track " + id);
	  		      	trackPlaying = sound;

	  		      	playButton.removeClass('paused').addClass('playing').html('Pause');
	  		      }
	  		    }
  		    });
	  		}); // <- SC.stream

		  }); // <- onclick

	  }); // <- SC.get
	}
</script>

<script type="text/javascript">
	$(document).ready(function(){


	});
</script>