* {
	box-sizing: border-box;
}

header {
	padding: 10px;
	background: #4c4b4b;
	a{
		color: #fcc039;
		text-decoration: none;
	}
	nav {
		float: right;
		#logo {
			display: inline-block; 
			float: left;
		}
		li {
			display: inline-block;
			padding-left: 5px;
		}
	}
}

body {
	.results-list {
		img {
			width: 100px;
			height: 100px;
			background: black;
		}
		padding: 0;
	}
	.results-list li:nth-child(even) {
		background: #ddd;
	}
	.results-list > li {
		list-style: none;
	}
}

.trackContainer {
	padding: 10px;
	img {
		display: inline-block;
	}
	.track-info {
		display: inline-block;
		padding-left: 10px;
	}
}

main {
	padding: 20px;
}

input, button {
	padding: 10px;
	height: 40px;
	margin: 0 10px;
}

input, button:focus {
	outline-color: #fcc039;
	outline-width: 1px;
}

input[type=submit], button {
	background-color: #4c4b4b;
	color: #fcc039;
	text-decoration: none;
	cursor: pointer;
	border:none;
}