<header>
	<a id="logo" href="/">Next.fm</a>
	<nav>
		<!-- buttons change if logged in -->
		<%if user_signed_in? %>
			<li><%= link_to "Log out", destroy_user_session_path, method: :delete  %></li>

		<% else %>
			<li><%= link_to "Sign in", new_user_session_path  %></li>
			<li><%= link_to "Create an account", new_user_registration_path  %></li>
		<% end %>
	</nav>
</header>